@charset "UTF-8";

@font-face {
	font-family: "proximaNova";
	src: url("../fonts/ProximaNova-Light.ttf") format("truetype");
	src: url("../fonts/ProximaNova-Light.woff") format("woff");
	font-weight: 200;
}
@font-face {
	font-family: "proximaNova";
	src: url("../fonts/ProximaNova-Regular.ttf") format("truetype");
	src: url("../fonts/ProximaNova-Regular.woff") format("woff");
	font-weight: 400;
}
@font-face {
	font-family: "proximaNova";
	src: url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
	src: url("../fonts/ProximaNova-Semibold.woff") format("woff");
	font-weight: 500;
}
@font-face {
	font-family: "proximaNova";
	src: url("../fonts/ProximaNova-Black.ttf") format("truetype");
	src: url("../fonts/ProximaNova-Black.woff") format("woff");
	font-weight: 900;
}
@font-face {
	font-family: "proximaNova";
	src: url("../fonts/ProximaNova-Bold.ttf") format("truetype");
	src: url("../fonts/ProximaNova-Bold.woff") format("woff");
	font-weight: 800;
}
@font-face {
	font-family: "playfair";
	src: url("../fonts/playfair-display-black.ttf") format("truetype");
	font-weight: 900;
}
@font-face {
	font-family: "playfair";
	src: url("../fonts/PlayfairDisplay-Bold.ttf") format("truetype");
	font-weight: 700;
}
@font-face {
	font-family: "fontawesome";
	src: url("../fonts/fontawesome-webfont.ttf") format("truetype");
	font-weight: normal;
}
@font-face {
	font-family: "Montserrat";
	src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
	src: url("../fonts/Montserrat-Regular.otf") format("opentype");
	font-weight: 400;
}
@font-face {
	font-family: "Montserrat";
	src: url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
	src: url("../fonts/Montserrat-SemiBold.otf") format("opentype");
	font-weight: 600;
}

body {
	font-family: proximaNova;
	font-weight: 400;
}
.btn {
	font-family: proximaNova;
	font-weight: 400;
	background-color: #00a25b;
	border-radius: 0;
	color: #ffffff;
	font-size: 14px;
}
.btn:focus {
	outline: unset;
	box-shadow: none;
}
a {
	color: #ffffff;
}
a:hover {
	text-decoration: none;
	color: #00a25b;
}

/* ========== BREADCRUMBS =========== */

.breadcrumb {
	background-color: transparent;
}
.breadcrumb-item.active {
	color: #ffffff;
}

/* ========== MOBIL MENU =========== */

.mobil_menu {
	position: relative;
	overflow-x: hidden;
}
.m_menu {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	width: 80%;
	height: 100vh;
	padding-left: 30px;
	background-color: #000000d6;
	transition: 0.5s;
	transform: translateX(-100%);
}
.menu_active {
	transform: translateX(-10%);
}
.menu_btn {
	width: 30px;
	height: 30px;
	background-color: #00a25b;
	color: white;
	font-size: 21px;
	position: absolute;
	right: -47px;
	top: 18px;
	transition: 0.5s;
}
.menu_btn:hover {
	color: white;
	text-decoration: none;
}
.menu_btn_active {
	right: 19px;
}
.mobile_nav a {
	color: #ffffff;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 16px;
}
.m_menu_back {
	width: 100%;
	height: 100%;
	background-color: transparent;
	position: fixed;
	top: 0px;
	left: 0;
	z-index: 4;
	transition: 0.5s;
	transform: translateX(-100%);
}
.m_menu_back_active {
	transform: translateX(0%);
}
.m_menu_btn_show {
	display: inline-block !important;
}

/* ========== HEADER =========== */
.hdr_cont {
	position: relative;
}
header {
	background-color: transparent;
	padding-top: 50px;
	position: absolute;
	z-index: 1;
	width: 100%;
}
.logo {
	width: 60px;
	height: 60px;
}
.hdr_linostar {
	text-transform: uppercase;
	font-size: 19px;
	color: #ffffff;
	padding-top: 4px;
}
.hdr_nav a {
	color: #ffffff;
	font-size: 17px;
	font-weight: 500;
	text-transform: uppercase;
}
.hdr_nav a:hover {
	color: #00a25b;
}
.hdr_nav .active,
.mobile_nav .active,
.ftr_nav .active {
	color: #00cf74;
}
.hdr_btn {
	padding: 11px 41px;
}
/* =============== block 1 ================ */

.hdr_b1,
.hdr_b1_1,
.hdr_b1_2 {
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
}
.hdr_gray_filter {
	background-color: #00000091;
	width: 100%;
	height: 100%;
	background-size: cover;
	padding-bottom: 200px;
	padding-top: 110px;
}

.b1_title {
	font-family: playfair;
	font-weight: 900;
	font-size: 76px;
	color: #ffffff;
	margin-top: 224px;
	margin-bottom: 10px;
}
.b1_text {
	color: #ffffff;
	font-size: 19px;
	max-width: 1000px;
	margin-bottom: 40px;
}
.b1_btn {
	padding: 11px 71px;
	margin-bottom: 130px;
}
.head_block {
	position: relative;
	height: 100vh;
}
.b1_btn_dn_cont {
	position: absolute;
	bottom: 60px;
	left: 0;
	animation-duration: 1s;
	animation-name: fly;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
.b1_btn_dn {
	background-color: transparent;
	font-size: 28px;
}
@keyframes fly {
	from {
		bottom: 60px;
	}
	to {
		bottom: 50px;
	}
}
.b1_btn_dn:hover {
	color: #00a25b;
}
.hdr_slider .slick-slide,
.hdr_slider {
	height: 100vh;
}

.hdr_slider .slick-prev:before,
.hdr_slider .slick-next:before,
.doc_slider .slick-prev:before,
.doc_slider .slick-next:before {
	content: "";
	position: absolute;
}
.hdr_slider .slick-next,
.doc_slider .slick-next {
	right: 35px;
	color: #fff;
	font-size: 18px;
	background-color: #ffffff36;
	border-radius: 50px;
	width: 60px;
	height: 60px;
}
.hdr_slider .slick-prev,
.doc_slider .slick-prev {
	left: 15px;
	color: #fff;
	font-size: 18px;
	z-index: 1;
	background-color: #ffffff36;
	border-radius: 50px;
	width: 60px;
	height: 60px;
}
.hdr_slider .slick-prev:hover,
.hdr_slider .slick-prev:focus,
.hdr_slider .slick-next:hover,
.hdr_slider .slick-next:focus {
	color: #fff;
	background: #ffffff36;
}
.hdr_slider .slick-dots {
	bottom: 19px;
}
.hdr_slider .slick-dots li.slick-active button:before,
.hdr_slider .slick-dots li button:before {
	color: #ffffff;
}

/* =============== block 2 ================ */

.block2 {
	background-image: url(../img/b2_bg.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 120px;
	padding-bottom: 90px;
	overflow-x: hidden;
}
.b2_title {
	position: relative;
	font-weight: 900;
	color: #454545;
	font-size: 46px;
	margin-bottom: 41px;
	z-index: 3;
}
.b2_title_cont::before {
	content: "О Бренде";
	color: #f1f1f1;
	font-weight: 900;
	font-size: 180px;
	position: absolute;
	top: -89px;
	left: -28px;
	width: max-content;
	z-index: 1;
}
.b2_title_cont::after {
	content: "";
	display: block;
	background-color: #00a25b;
	width: 180px;
	height: 17px;
	position: absolute;
	top: 58px;
	left: 239px;
	z-index: 1;
}
.b2_col {
	z-index: 3;
}

.b2_text {
	color: #777777;
	font-size: 17px;
	z-index: 3;
	position: relative;
}
.b2_btn {
	padding: 10px 48px;
}

/* =============== block 3 ================ */

.block3 {
	color: #ffffff;
}
.block3 h2 {
	font-size: 45px;
	font-weight: 900;
	margin-bottom: 40px;
}
.block3 h3 {
	font-size: 39px;
	font-weight: 900;
}
.block3 a {
	font-size: 19px;
	text-decoration: underline;
	max-width: 200px;
}
.b3_1 {
	background-image: url(../img/b3_bg_1.jpg);
	padding-top: 60px;
	padding-bottom: 60px;
}
.b3_1 p {
	font-size: 16px;
	max-width: 700px;
}
.b3_frame1 {
	background-image: url(../img/b3_frame1.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
}
.b3_frame2 {
	background-image: url(../img/b3_frame2.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
}
.b3_frame3 {
	background-image: url(../img/b3_frame3.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
}
.b3_frame1,
.b3_frame2,
.b3_frame3 {
	max-height: 436px;
	height: 100%;
	padding-top: 190px;
	padding-bottom: 170px;
}
.b3_3 {
	background-image: url(../img/b3_3_bg.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 60px;
	padding-bottom: 60px;
}
.b3_3_btn {
	background-color: transparent;
	border: 2px solid #ffffff;
	padding: 15px 25px;
}
.b3_3_btn:hover {
	background-color: #00a25b;
	border-color: transparent;
}

/* =============== block 4 ================ */

.block4 {
	background-color: #ffffff;
	padding-top: 170px;
	padding-bottom: 65px;
	overflow-x: hidden;
}
.b4_title {
	position: relative;
	z-index: 3;
	font-weight: 900;
	font-size: 43px;
	color: #454545;
	margin-bottom: 68px;
}
.b4_title_cont::before {
	position: absolute;
	content: "Почему мы";
	color: #f1f1f1;
	font-weight: 900;
	font-size: 170px;
	top: -132px;
	left: -12px;
	width: max-content;
	z-index: 1;
}
.b4_title_cont::after {
	content: "";
	display: block;
	background-color: #00a25b;
	width: 180px;
	height: 17px;
	position: absolute;
	top: 32px;
	left: 148px;
	z-index: 1;
}

.b4_frame {
	border: 1px solid #e5e5e5;
	padding: 30px 39px 41px;
	color: #6f6f6f;
}
.b4_frame_title {
	font-size: 25px;
	font-weight: 800;
}
.b4_frame_text {
	font-size: 15px;
	margin-bottom: 0;
}
.b4_frame_img {
	max-width: 126px;
	margin-left: -17px;
}
.b4_btn {
	margin-top: 50px;
	padding: 11px 49px;
}

/* =============== ABOUT HEAD ================ */

.abt_block1,
.prod_block1,
.item_block1,
.doc_block1 {
	background-image: url(../img/abt_hrd_bg.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 40px;
	padding-top: 175px;
	color: #ffffff;
}
.abt_b1_title_cont,
.prod_b1_title_cont,
.item_b1_title_cont,
.doc_b1_title_cont {
	position: relative;
}
.abt_b1_title {
	font-family: playfair;
	font-weight: 700;
	font-size: 44px;
	position: relative;
	z-index: 3;
}
.abt_b1_title_cont::after,
.prod_b1_title_cont:after,
.item_b1_title_cont::after,
.doc_b1_title_cont::after {
	content: "";
	display: block;
	background-color: #00a25b;
	width: 180px;
	height: 17px;
	position: absolute;
	top: 36px;
	left: 198px;
	z-index: 1;
}

/* =============== ABOUT block 3 ================ */

.abt_block3 {
	color: #ffffff;
	background-image: url(../img/abt_b3_bg.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 115px;
	padding-bottom: 120px;
}
.abt_b3_title_cont {
	position: relative;
	width: fit-content;
}
.abt_b3_title {
	font-weight: 900;
	font-size: 41px;
	position: relative;
	z-index: 3;
}
.abt_b3_title_cont::after {
	content: "";
	display: block;
	background-color: #00a25b;
	width: 180px;
	height: 17px;
	position: absolute;
	top: 32px;
	left: 53px;
	z-index: 1;
}
.abt_b3_text {
	font-weight: 200;
	font-size: 14px;
	margin-bottom: 50px;
}
.abt_b3_frame {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 10px;
}
.abt_b3_img_cont {
	height: 101px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
}
.abt_b3_frame h3 {
	font-weight: 900;
	font-size: 22px;
}
.abt_b3_frame p {
	font-weight: 200;
	font-size: 14px;
	max-width: 240px;
}

.wood_line {
	background-image: url(../img/b3_3_bg.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 75px;
}

/* =============== PRODUCTs HEAD ================ */

.prod_b1_title_cont:after {
	left: 66px;
}

/* =============== PRODUCTs block2 ================ */

.pord_block2 {
	background-color: #ffffff;
	padding-top: 70px;
	padding-bottom: 50px;
}
.line {
	background-color: #ededed;
	width: 100%;
	height: 1px;
	margin-top: 30px;
	margin-bottom: 30px;
}
.prod_b2_nav {
	list-style-type: none;
	padding-left: 0;
	display: flex;
}
.prod_b2_nav a {
	color: #858585;
	font-size: 17px;
	font-weight: 800;
	display: block;
	padding: 9px 30px;
	background-color: #f8f8f8;
	text-align: center;
}
.prod_b2_nav_item.active a {
	background-color: #00a25b;
	color: #ffffff;
}
.prod_b2_nav a:hover {
	background-color: #00cf74;
	color: #ffffff;
}
.prod_b2_frame {
	background-color: #ffffff;
	color: #7b7b7b;
	padding: 30px 18px 25px;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 0 0 30px 11px #0000000a;
	margin-top: 29px;
	margin-bottom: 29px;
	position: relative;
}
.prod_b2_frame:hover {
	box-shadow: 0 0 30px 11px #0000004d;
}
.prod_open_item {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.prod_b2_img_cont {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
	width: 100%;
}
.prod_b2_search {
	margin-top: 40px;
	margin-bottom: 30px;
}
.prod_b2_buy {
	text-transform: uppercase;
	text-decoration: underline;
	font-size: 14px;
	position: relative;
	z-index: 2;
}
.prod_b2_buy:hover {
	color: #00a25b;
}
.prod_b2_search {
	margin-bottom: 30px;
}
.prod_b2_img_hov {
	position: relative;
}
.prod_b2_fr_a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #0000007d;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	display: none;
}
.prod_b2_frame:hover .prod_b2_fr_a {
	display: flex;
}

.prod_b2_frame h3 {
	font-size: 14px;
	font-weight: 500;
	margin-bottom: 12px;
}
.prod_b2_frame p {
	font-size: 12px;
	font-weight: 500;
	margin-bottom: 0;
}

/* =============== ITEM ================ */

.item_b1_title_cont::after {
	width: 130px;
	left: 71px;
}
.item_block2 {
	background-color: #ffffff;
	padding-top: 110px;
	padding-bottom: 60px;
	color: #4c4c4c;
}
.item_main_img {
	position: relative;
}
.item_img_fog {
	width: 100%;
	height: 100%;
	background-color: #00000045;
	display: none;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
.item_img_zoom {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 2;
}
.item_main_img:hover > .item_img_fog {
	display: flex;
}

.item_b2_title {
	font-size: 45px;
	font-weight: 800;
	margin-top: 50px;
	margin-bottom: 30px;
}
.item_b2_btn {
	padding: 11px 65px;
}
.item_b2_backto {
	color: #4c4c4c;
	text-decoration: underline;
}
.item_b2_file_name {
	margin-bottom: 0;
}
.item_dwl_fl_a {
	display: inline-block;
	color: #4c4c4c;
}
.item_dwl_fl_a:hover {
	color: #00a25b;
}
.item_b2_subtitle {
	font-weight: 800;
	font-size: 30px;
}
.item_character_block {
	margin-top: 60px;
	margin-bottom: 60px;
}
.item_character_list {
	font-size: 16px;
}
.item_character_list ul {
	list-style-type: none;
	padding-left: 0;
}
.item_character li {
	position: relative;
	display: flex;
	justify-content: space-between;
}
.item_character span {
	position: relative;
	z-index: 1;
	background-color: #fff;
}
.item_character li::after {
	content: "";
	display: inline-block;
	background-image: url(../img/points.png);
	background-repeat: repeat-x;
	height: 2px;
	width: 100%;
	position: absolute;
	bottom: 7px;
	left: 0;
	z-index: 0;
}

/* =============== CONTACTS ================ */

.conts_block2 {
	background-color: #ffffff;
	padding-top: 90px;
	padding-bottom: 70px;
	color: #777777;
}
.conts_subtitle {
	font-weight: 900;
	font-size: 41px;
	color: #454545;
	position: relative;
	z-index: 2;
	margin-bottom: 55px;
}
.conts_subtitle_cont {
	position: relative;
	width: fit-content;
}
.conts_subtitle_cont::after {
	content: "";
	display: block;
	background-color: #00a25b;
	width: 180px;
	height: 17px;
	position: absolute;
	top: 32px;
	left: 53px;
	z-index: 1;
}
.conts_b2_block a {
	color: #777777;
	text-decoration: underline;
	font-size: 21px;
	font-weight: 500;
}
.conts_b2_block a:hover {
	color: #00a25b;
}
.conts_b2_block p {
	margin-bottom: 0;
}
.conts_b2_address_type {
	font-size: 20px;
	font-weight: 800;
}
.conts_b2_address {
	font-size: 17px;
}
.conts_btn {
	padding: 11px 61px;
	margin-top: 30px;
	margin-bottom: 30px;
}

/* =============== DOCUMENTS ================ */

.doc_block2 {
	background-color: #ffffff;
	padding-top: 180px;
	padding-bottom: 75px;
}
.doc_b1_title_cont::after {
	width: 187px;
	height: 16px;
	top: 35px;
	left: 385px;
}
.doc_b2_title_cont {
	position: relative;
	width: fit-content;
	margin-bottom: 80px;
}
.doc_b2_title {
	font-weight: 900;
	font-size: 41px;
	color: #454545;
	position: relative;
	z-index: 3;
}
.doc_b2_title_cont::before {
	content: "Документы";
	font-weight: 900;
	font-size: 184px;
	color: #f1f1f1;
	position: absolute;
	z-index: 1;
	top: -101px;
	left: -40px;
	line-height: 205px;
}
.doc_b2_title_cont::after {
	content: "";
	display: block;
	background-color: #00a25b;
	width: 187px;
	height: 16px;
	top: 26px;
	left: 110px;
	position: absolute;
	z-index: 2;
}
.doc_slider {
	display: flex;
}
.doc_slider_block {
	background-color: #f8f8f8;
	display: flex !important;
	justify-content: center;
	align-items: center;
	padding: 25px 25px;
	margin-left: 10px;
	margin-right: 10px;
}
.doc_slider .slick-track {
	display: flex;
	align-items: center;
}
.doc_slider .slick-prev,
.doc_slider .slick-next {
	background-color: #00000036;
}
.doc_slider .slick-prev {
	left: -100px;
}
.doc_slider .slick-next {
	right: -100px;
}
.doc_btn {
	padding: 9px 48px;
	margin-bottom: 70px;
}
.doc_b2_title2_cont {
	position: relative;
	width: fit-content;
}
.doc_b2_title2_cont::before {
	content: "FAQ";
	font-weight: 900;
	font-size: 184px;
	color: #f1f1f1;
	position: absolute;
	z-index: 1;
	top: -55px;
	left: -45px;
	line-height: 205px;
}
.doc_b2_subtitle {
	font-weight: 800;
	font-size: 20px;
	color: #4c4c4c;
	position: relative;
	z-index: 2;
}
.doc_b2_text {
	font-size: 15px;
	color: #343434;
	position: relative;
	z-index: 2;
	margin-bottom: 80px;
}
.doc_collapse_frame {
	box-shadow: 0 0 30px 11px #0000000a;
	margin-bottom: 11px;
}
.doc_coll_title {
	font-family: Montserrat;
	font-weight: 600;
	font-size: 16px;
	color: #7b7b7b;
}
.doc_collapse_frame_head {
	padding-top: 40px;
	padding-bottom: 30px;
	padding-left: 35px;
	padding-right: 35px;
	position: relative;
	width: 100%;
	height: 100%;
}
.doc_collapse_frame_active .doc_coll_title {
	color: #00a25b;
}
.doc_collapse_frame_active .doc_coll_img_shown {
	display: none;
}
.doc_collapse_frame_active .doc_coll_img {
	display: inline-block;
}

.doc_coll_head {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.doc_coll_text {
	font-family: Montserrat;
	font-weight: 400;
	font-size: 14px;
	color: #a3a3a3;
	padding-bottom: 30px;
	padding-left: 35px;
	padding-right: 35px;
}
.doc_coll_img {
	display: none;
}
/* =============== FOOTER ================ */

footer {
	color: #ffffff;
	background-color: #383838;
	padding-top: 80px;
	font-size: 16px;
}
footer .container {
	padding-bottom: 60px;
}
footer a {
	color: #ffffff;
}
footer a:hover {
	color: #00a25b;
}
.frt_title {
	font-size: 25px;
	font-weight: 800;
	margin-bottom: 30px;
}
.ftr_text {
	font-size: 15px;
}
.ftr_contacts_a {
	text-decoration: underline;
}
.ftr_btm {
	height: 50px;
	background-color: #2f2f2f;
}

/* =============== MODAL ================ */

.modal-content {
	border-radius: 0;
}
.modal-header {
	border-bottom: none;
	padding-bottom: 0;
}
.close:hover {
	color: #00a25b;
}
.close:focus {
	outline: none;
}
.modal-body {
	padding-top: 5px;
	padding-bottom: 5px;
}
.form_inp {
	border-radius: 0;
	background-color: #f5f5f5;
	color: #454545;
	font-family: proximaNova;
	font-weight: 400;
	font-size: 14px;
	height: 45px;
	border-color: #f0f0f0;
	margin-top: 8px;
	margin-bottom: 8px;
	padding-right: 20px;
	padding-left: 20px;
	max-width: 420px;
}
.modal-dialog {
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
}
.form_inp:focus {
	border-color: #00a25b;
	box-shadow: 0 0 0 0.2rem rgba(0, 162, 91, 0.25);
}
.text-center .b2_btn {
	margin-top: 30px;
}
.buy_subtitle {
	font-weight: 900;
	font-size: 36px;
	color: #454545;
	position: relative;
	z-index: 2;
	margin-bottom: 55px;
}
.buy_subtitle_cont {
	position: relative;
	width: fit-content;
}
.buy_subtitle_cont::after {
	content: "";
	display: block;
	background-color: #00a25b;
	width: 180px;
	height: 17px;
	position: absolute;
	bottom: 2px;
	right: 12px;
	z-index: 1;
}

/* =============== MEDIA ================ */

@media screen and (max-width: 1300px) {
	.doc_slider .slick-next {
		right: -35px;
	}
	.doc_slider .slick-prev {
		left: -35px;
	}
}

@media screen and (max-width: 1200px) {
	.hdr_nav a {
		font-size: 13px;
		font-weight: 500;
	}
	.b1_title {
		font-size: 60px;
	}
	.b1_text {
		font-size: 17px;
		max-width: 895px;
	}
	.doc_b2_title_cont::before {
		font-size: 157px;
		top: -92px;
	}
}
@media screen and (max-width: 992px) {
	header {
		padding-top: 5px;
		left: 0;
		width: 100%;
	}
	.b2_title_cont::before {
		font-size: 170px;
		top: -93px;
		left: 52px;
	}
	.b4_title_cont::before {
		font-size: 143px;
		top: -102px;
		left: -24px;
	}
	.item_block2 {
		padding-top: 65px;
		padding-bottom: 20px;
	}
	.item_character_block {
		margin-top: 0;
	}
	.doc_b2_title_cont::before {
		font-size: 133px;
	}
}
@media screen and (max-width: 768px) {
	.b1_title {
		font-size: 38px;
		margin-top: 100px;
	}
	.b1_text {
		font-size: 17px;
	}
	.b1_btn {
		margin-bottom: 45px;
	}
	.hdr_btn {
		padding: 6px 22px;
	}
	.b2_text {
		font-size: 15px;
	}
	.block2 {
		padding-top: 80px;
		padding-bottom: 60px;
	}
	.b2_title_cont::before {
		font-size: 66px;
		top: -27px;
		left: 26px;
	}
	.abt_block3 {
		padding-top: 65px;
		padding-bottom: 65px;
	}
	.item_character_list {
		font-size: 14px;
	}
	.item_dwl_fl_a {
		font-size: 13px;
	}
	.item_character li::after {
		bottom: 6px;
	}
	.doc_b1_title_cont::after {
		top: 34px;
		left: 132px;
	}
	.doc_b2_title_cont::before {
		font-size: 61px;
	}
	.doc_slider .slick-track {
		display: block;
	}
	.doc_block2 {
		padding-top: 90px;
		padding-bottom: 50px;
	}
	.doc_b2_text {
		margin-bottom: 55px;
	}
}
@media screen and (max-width: 576px) {
	.b2_title_cont::after {
		top: 59px;
		left: 135px;
	}
	.b3_1 {
		padding-top: 35px;
		padding-bottom: 35px;
	}
	.block3 h2 {
		margin-bottom: 20px;
	}
	.b3_frame1,
	.b3_frame2,
	.b3_frame3 {
		padding-top: 110px;
		padding-bottom: 110px;
	}
	.b3_3 {
		padding-top: 45px;
		padding-bottom: 45px;
	}
	.b4_title {
		font-size: 39px;
		margin-bottom: 41px;
	}
	.b4_title_cont::after {
		top: 28px;
		left: 134px;
	}
	.b4_title_cont::before {
		font-size: 58px;
		top: -39px;
		left: -2px;
	}
	.block4 {
		padding-top: 70px;
		padding-bottom: 40px;
	}
	.b4_frame {
		padding: 15px 22px 25px;
	}
	.b4_btn {
		margin-top: 33px;
	}
	footer {
		padding-top: 58px;
	}
	.frt_title {
		margin-bottom: 25px;
	}
	footer .container {
		padding-bottom: 30px;
	}
	.abt_b1_title_cont::after {
		left: 92px;
	}
	.prod_b2_nav a {
		font-size: 14px;
		padding: 8px 15px;
	}
	.item_b2_title {
		font-size: 23px;
		margin-top: 6px;
		margin-bottom: 8px;
	}
	.item_b2_btn {
		padding: 10px 17px;
	}
	.item_b2_backto {
		font-size: 12px;
	}
	.item_block2 {
		padding-top: 35px;
		padding-bottom: 10px;
	}
	.item_dwl_fl_a {
		margin-right: 10px;
	}
	.abt_block1,
	.prod_block1,
	.item_block1,
	.doc_block1 {
		padding-top: 120px;
	}
	.item_character_block {
		margin-bottom: 10px;
	}
	.conts_block2 {
		padding-top: 55px;
		padding-bottom: 50px;
	}
	.conts_subtitle {
		margin-bottom: 35px;
	}
	.conts_btn {
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.conts_b2_address_type {
		font-size: 17px;
	}
	.conts_b2_address {
		font-size: 14px;
	}
	.modal-body h2,
	.modal-body .conts_btn {
		margin-bottom: 15px;
	}
	.abt_b1_title {
		font-size: 39px;
	}
	.doc_b1_title_cont::after {
		top: 32px;
		left: 78px;
	}
	.item_character li::after {
		display: none;
	}
	.item_character li {
		margin-bottom: 10px;
	}
	.doc_b2_title2_cont::before {
		font-size: 163px;
	}
}
@media screen and (max-width: 416px) {
	.modal-dialog {
		margin: 0.5rem;
	}
}
